html {
  color-scheme: light dark;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  font-size: 80%;
  font-family: inherit;
  background-color: Canvas;
  padding: 0.2em 0.5em;
  z-index: 999;
}

.color-scheme select {
  right: 2.5rem;
  background-color: Canvas;
  color: CanvasText;
  border: 1px solid oklch(80% 3% 200 / 30%);
}

html.light .color-scheme,
html.light .color-scheme select {
  background-color: white;
  color: black;
}

html.dark .color-scheme,
html.dark .color-scheme select {
  background-color: black;
  color: white;
}

html.auto .color-scheme,
html.auto .color-scheme select {
  background-color: Canvas;
  color: CanvasText;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    position: relative;
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
    background-color: Canvas;
    color: CanvasText;
    }
    
html.light body {
  background-color: white;
  color: black;
}

html.dark body {
  background-color: black;
  color: white;
}

html.auto body {
  background-color: Canvas;
  color: CanvasText;
}

:root {
    --color-accent: oklch(45% 30% 50);
  }

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 1rem;
  padding-right: 8rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color);
  }

nav a {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
  }

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
  }

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
  }

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  margin: 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
form button {
  grid-column: 1 / -1;
}


html.light input,
html.light textarea,
html.light select,
html.light button {
  background-color: white;
  color: black;
}

html.dark input,
html.dark textarea,
html.dark select,
html.dark button {
  background-color: #1f1f1f;
  color: white;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0.4em;
  font: inherit;
  box-sizing: border-box;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  background-color: inherit;
  color: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
  max-width: 100ch;
  margin: auto;
  padding-block: 1em;
}
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 1em;
}

h1 {
  font-size: 300%;

  h2, h3 {
    line-height: 1.1;
    text-wrap: balance;
  }
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0em;
}
section {
  margin-bottom: 1em;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 1em 0;
}